- content_for :stylesheet do
  = stylesheet_link_tag "anotoki/posts"

.container
  .page-header
    .align-center
      = image_tag "/assets/anotoki/title_logo.png", alt: "アノトキノヤフーニュース"
    %h1
      = @h1

  - if @grouped_news.present?
    #news_of_day
      - @grouped_news.each do |category, news_list|
        .category_news
          %h2
            = category
          %ul
            - news_list.each do |news|
              %li
                %a{href: news.topic_link, target: "_blank"}
                  = news.title
                %span.duration
                  #{news.posted_duration_minutes}

  - else
    .row
      ないよ

- @content_for_javascript = capture do
  = javascript_include_tag "anotoki/pinterest_grid"
  :coffee
    $(document).ready ->
      $('#news_of_day').pinterest_grid
        no_columns: 2
        padding_x: 4
        padding_y: 4
        margin_bottom: 30
        single_column_breakpoint: 800
      return