- content_for :stylesheet do
  = stylesheet_link_tag 'anotoki/index', media: 'screen'

.container
  .page-header
    %h1#timeline
      = image_tag "anotoki/title_logo.png", alt: "アノトキノヤフーニュース", class: "title"

  .timeline
    .line.text-muted

    - @keywords.each do |week_start_date, keyword_list|
      %article.panel.panel-anotoki
        .panel-heading.icon
          %i.glyphicon.glyphicon-calendar
        .panel-heading
          %h2.panel-title #{week_start_date.strftime("%Y年%-m月%-d日")}週のキーワード
        .panel-body
          %ul.keywords
            - keyword_list.each do |keyword|
              %li
                %a{href: anotoki_path(week_start_date, keyword.word)}
                  #{keyword.word}(#{keyword.count})
        .panel-footer
          %h2.panel-title.watch-news ニュース一覧を見る
          %ul.days
            - (0..6).each do |i|
              %li
                %a{href: anotoki_path(week_start_date+i)}
                  = (week_start_date+i).strftime("%-m/%-d")
      -#
        .separator.text-muted
          %time #{(week_start_date+6).strftime("%Y / %-m / %-d")}